:root {
  --only-text-color: #ffffff;
  --main-text-color: #212121;
  --additional-text-color: #757575;
  --active-text-color: #2196f3;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--main-text-color);
}
.link {
  text-decoration: none;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0;
}
.list {
  list-style-type: none;
}

.header-link:hover,
.header-link:focus {
  color: var(--active-text-color);
}
.header-mail:hover,
.header-mail:focus {
  color: var(--active-text-color);
}
.header-tel:hover,
.header-tel:focus {
  color: var(--active-text-color);
}

/*----------------Header------------------------*/

.header-logo {
  font-weight: 500;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #000000;
}
.logo {
  font-weight: 500;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--active-text-color);
  text-decoration: none;
}
.header-list {
  display: flex;
}
.header-list .item:not(:last-child) {
  margin-right: 50px;
}
.header-adress .item:not(:last-child) {
  display: flex;
  margin-right: 50px;
  display: block;
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}
.header-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--additional-text-color);
}
.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--additional-text-color);
}
/*--------------------hero-------------------------------*/
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  color: var(--only-text-color);
  background-color: #2f303a;
}
.hero-button {
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: var(--only-text-color);
  background-color: var(--active-text-color);
  cursor: pointer;
}
.hero-tho-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
.hero-tho-pr {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--additional-text-color);
}
.work-item {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
.hero-team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.hero-team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
.hero-team-spec {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--additional-text-color);
}
/*-----------------------footer------------------------------*/
.footer-logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--only-text-color);
}
.footer-span {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--active-text-color);
}
.footer {
  background-color: #2f303a;
}
.footer-maps {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--only-text-color);
}
.footer-mail {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-tel {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
/*---------------------portfolio hero-------------------*/
.btn:hover,
.btn:focus {
  color: var(--only-text-color);
  background-color: var(--active-text-color);
}
.filter-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  cursor: pointer;
}
.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
}
.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--additional-text-color);
}
